.box{
    height: 200px;
    width: 300px;
}

.responsive-box{
    width: 50%;
    height: 50%;
}

.padded-text{
    padding: 20px;
}

.custom-padding{
    padding: 20px 10px 20px 10px;
}

.border-box{
    border: 2px;
    border-style: solid;
}

.rounded-border{
    border: 3px;
    border-style: dotted;
    border-color: red;
    border-radius: 15px;
}

.margin-text{
    margin: 30px;
}

.custom-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.inline-element{
    display: inline;
}

.block-element{
    display: block;
}
